<form action="/añad" method="POST" class="card bg-dark text-light">

    <div class="card-body p-4">
        <center><h1>Registrar</h1></center>
        <br>
        <div class="mb-3">
            <label for="fullname">Escribe tu nombre:</label>
            <input type="text" name="fullname" placeholder="nombre"
                class="form-control rounded-0 bg-dark border-0 text-white">

        </div>
        <div class="mb-3">
            <label for="contrasena">Escribe tu nueva contraseña:</label>
            <input type="text" name="contrasena" placeholder="contraseña"
                class="form-control rounded-0 bg-dark border-0 text-white">

        </div>


        <button class="btn btn-primary">registrar</button>

    </div>




</form>